# PyCharm
.idea/
*.iml

# Models
/models/*.pth

# Results
/results/losses/*.png
/results/histograms/*.png
/results/predictions/*.png
/results/fusion_feature_maps/*.png
/results/metrics/*.txt
/results/channel_attention_maps/*.png
/results/post_channel_maps/*.png
/results/post_spatial_maps/*.png
/results/spatial_attention_maps/*.png

# Datasets
/datasets/refit/*.csv
/datasets/ukdale/*.dat
/datasets/lab/*.mat
